= form_for @topic, remote: true, html: { class: 'topic-form' } do |f|
  .row
    .col-md-9
      .form-group
        = f.text_field :title, class: 'form-control form-head', placeholder: '标题', tabIndex: 1
    .col-md-3
      .form-group
        = f.collection_select :category_id, @categories.order(topics_count: :desc), :id, :name, {}, class: 'form-control', tabIndex: 2
  .form-group
    = render partial: 'share/editor_area', locals: {form: f, name: :body, tabIndex: 3}
  - if topic.new_record?
    = f.submit '创建话题', class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => '创建话题'
  - else
    = f.submit '保存修改', class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => '保存修改'
    '
    a.btn.btn-default href=nba_topic_path(@topic) tabIndex="5" 取消

- form_id = @topic.new_record? ? 'new_topic' : "edit_topic_#{@topic.id}"

javascript:
  $('##{form_id}').validate({
    rules: {
      'topic[title]': {
        required: true
      },
      'topic[body]': {
        required: true
      }
    },
    messages: {
      'topic[title]': {
        required: '#{@topic.errors.generate_message :title, :blank}'
      },
      'topic[body]': {
        required: '#{@topic.errors.generate_message :body, :blank}'
      }
    }
  });