= form_tag search_topics_path, method: 'get', class: 'search-form', data: { behaviors: 'turboform' } do
  = text_field_tag :q, params[:q], class: 'form-control', autocomplete: 'off', autofocus: params[:q].present?, placeholder:"搜索……"
  b.search-icon
  /http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html