- tabIndex ||= nil
= form.text_area name, id: 'editor', data: { behaviors: 'autosize' }, tabIndex: tabIndex, autofocus:""

coffee:
  window.glo_editor = new Simditor
    textarea: $('#editor')
    placeholder:"文明发言……"
    toolbar: ['title', 'bold', 'italic', 'underline', 'ol', 'ul', 'blockquote', 'table', 'hr', 'link', 'image', 'video']
    upload:
      url: '/attachments'
    pasteImage: true