= form_for @topic, remote: true, html: { class: 'topic-form' } do |f|
  .form-group
    = f.text_field :title, class: 'form-control form-head', placeholder: '标题', tabIndex: 1
  .form-group
    = f.collection_select :category_id, @categories.order(topics_count: :desc), :id, :name, {}, class: 'form-control', tabIndex: 2
  .form-group
    = f.text_area :body, data: { behaviors: 'autosize' }, tabIndex: 3, autofocus:"", class: 'form-control'
  - if topic.new_record?
    = f.submit '创建话题', class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => '创建话题'
  - else
    = f.submit '保存修改', class: 'btn btn-success', tabIndex: 4, 'data-disable-with' => '保存修改'
    '
    a.btn.btn-default href=apps_nba_topic_path(@topic) tabIndex="5" 取消

- form_id = @topic.new_record? ? 'new_nba_topic' : "edit_nba_topic_#{@topic.id}"

= content_for :script
  javascript:
    $('##{form_id}').validate({
      rules: {
        'nba_topic[title]': {
          required: true
        },
        'nba_topic[body]': {
          required: true
        }
      },
      messages: {
        'nba_topic[title]': {
          required: '#{@topic.errors.generate_message :title, :blank}'
        },
        'nba_topic[body]': {
          required: '#{@topic.errors.generate_message :body, :blank}'
        }
      }
    });