@import "var";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "simditor";

$navbar-inverse-bg: $violet;

// Inverted navbar links
$navbar-inverse-link-color:                 #cdbfe3;
$navbar-inverse-link-hover-color:           #fff;
// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff;
$navbar-inverse-brand-hover-color:          #fff;
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;

$brand-primary:         $violet;
$brand-success:         $naka;
$brand-info:            $blue;
$brand-warning:         $yellow;
$brand-danger:          $red;

$input-border-focus:        $yellow;
$border-radius-base:        2px;
$border-radius-small:       0px;
$border-radius-large:       2px;

@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "patterns";

body {background: #eee!important;}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main{position:relative;z-index:3;background-position: 0 0, 0 50%;background-repeat: repeat-x, repeat;}

.file-upload {background: $gray-lighter;position: relative;
  input[type=file] {position: absolute;width: 100%;top: 0;bottom: 0;outline: 0;opacity: 0;cursor: pointer;}
  .text {padding: $padding-base-vertical/2 $padding-base-horizontal;}
  &:hover {
    a {text-decoration: underline;}
  }
}

input.form-head{max-width:606px;}

@media (max-width: 768px) {
  #user-confirm-required{display:none;}
}

.notifications-bell span.badge{background-color: $yellow;}

@mixin make-grid-columns($i: 1, $list: ">.col-xs-#{$i}, >.col-sm-#{$i}, >.col-md-#{$i}, >.col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, >.col-xs-#{$i}, >.col-sm-#{$i}, >.col-md-#{$i}, >.col-lg-#{$i}";
  }
  #{$list} {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  div.row{
    @include make-grid-columns();
  }
}

textarea[name$="topic[body]"] {width:100%;max-width:none;}