@import "var";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "simditor";
@import "simditor-emoji";

$navbar-inverse-bg: $violet;

// Inverted navbar links
$navbar-inverse-link-color:                 #cdbfe3;
$navbar-inverse-link-hover-color:           #fff;
// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff;
$navbar-inverse-brand-hover-color:          #fff;
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;

$brand-primary:         $violet;
$brand-success:         $naka;
$brand-info:            $blue;
$brand-warning:         $yellow;
$brand-danger:          $red;

$input-border-focus:        $yellow;
$border-radius-base:        2px;
$border-radius-small:       0px;
$border-radius-large:       2px;

@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";

html.for-iosapp {
  @media (max-width: 767px) {
    body{padding-top:0;}
  }
  header{min-height:0;border:none;
    .navbar-header{display:none;}
    ul.navbar-nav:first-child{display:none;}
  }
}
body {background: #eee;}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main{position:relative;z-index:3;background: #eee;}

.file-upload {background: $gray-lighter;position: relative;
  input[type=file] {position: absolute;width: 100%;top: 0;bottom: 0;outline: 0;opacity: 0;cursor: pointer;}
  .text {padding: $padding-base-vertical/2 $padding-base-horizontal;}
  &:hover {
    a {text-decoration: underline;}
  }
}

#topic_title{max-width:606px;}

@media (max-width: 768px) {
  #user-confirm-required{display:none;}
}