@import "var";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "simditor";
@import "simditor-emoji";

$navbar-inverse-bg: $violet;

// Inverted navbar links
$navbar-inverse-link-color:                 #cdbfe3;
$navbar-inverse-link-hover-color:           #fff;
// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff;
$navbar-inverse-brand-hover-color:          #fff;
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;

$brand-primary:         $violet;
$brand-success:         $naka;
$brand-info:            $blue;
$brand-warning:         $yellow;
$brand-danger:          $red;

$input-border-focus:        $yellow;
$border-radius-base:        2px;
$border-radius-small:       0px;
$border-radius-large:       2px;

@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";

html.for-iosapp {
  @media (max-width: 767px) {
    body{padding-top:0;}
  }
  header{min-height:0;border:none;
    .navbar-header{display:none;}
    ul.navbar-nav:first-child{display:none;}
  }
}
body {background: #eee!important;}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main{position:relative;z-index:3;background-position: 0 0, 0 50%;background-repeat: repeat-x, repeat;}
footer{background-position: 0 50%;background-repeat: repeat;}
body{
  &.worldcup{
    .main{background-image: url(shadow_light.png), url(patterns/congruent_pentagon.png);}
    footer{background-image: url(patterns/congruent_pentagon.png);color:$gray-lighter;border-top:none;}
  }
  &.barcelona{
    .main{background-color: #87222f;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #87222f;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.chelsea{
    .main{background-color: #36498e;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #36498e;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.man-utd{
    .main{background-color: #DA1620;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #DA1620;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.bayern-munchen{
    .main{background-color: #DB0040;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #DB0040;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.real-madrid{
    .main{background-color: #FABC01;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #FABC01;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.arsenal{
    .main{background-color: #ED1C23;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #ED1C23;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.man-city{
    .main{background-color: #7FCFF5;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #7FCFF5;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.liverpool{
    .main{background-color: #C63A2B;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #C63A2B;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.ac-milan{
    .main{background-color: #A93633;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #A93633;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.rocket{
    .main{background-image: url(shadow_light.png), url(patterns/lego.gif);}
    footer{background-image: url(patterns/lego.gif);color:$gray-lighter;border-top:none;}
  }
  &.spurs{
    .main{background-image: url(shadow_light.png), url(patterns/congruent_outline.png);}
    footer{background-image: url(patterns/congruent_outline.png);color:$gray-lighter;border-top:none;}
  }
  &.federer{
    .main{background-image: url(shadow_light.png), url(patterns/skulls.png);}
    footer{background-image: url(patterns/skulls.png);color:$gray-lighter;border-top:none;}
  }
}

.file-upload {background: $gray-lighter;position: relative;
  input[type=file] {position: absolute;width: 100%;top: 0;bottom: 0;outline: 0;opacity: 0;cursor: pointer;}
  .text {padding: $padding-base-vertical/2 $padding-base-horizontal;}
  &:hover {
    a {text-decoration: underline;}
  }
}

input.form-head{max-width:606px;}

@media (max-width: 768px) {
  #user-confirm-required{display:none;}
}

.notifications-bell span.badge{background-color: $yellow;}

#editor{display:inline!important;visibility:hidden;height:0!important;position:absolute;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.panel.adspanel{padding:6px;}