footer{background-position: 0 50%;background-repeat: repeat;}
body{
  &.worldcup{
    .main{background-image: url(shadow_light.png), url(patterns/congruent_pentagon.png);}
    footer{background-image: url(patterns/congruent_pentagon.png);color:$gray-lighter;border-top:none;}
  }
  &.barcelona{
    .main{background-color: #87222f;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #87222f;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.chelsea{
    .main{background-color: #36498e;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #36498e;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.man-utd{
    .main{background-color: #DA1620;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #DA1620;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.bayern-munchen{
    .main{background-color: #DB0040;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #DB0040;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.real-madrid{
    .main{background-color: #FABC01;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #FABC01;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.arsenal{
    .main{background-color: #ED1C23;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #ED1C23;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.man-city{
    .main{background-color: #7FCFF5;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #7FCFF5;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.liverpool{
    .main{background-color: #C63A2B;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #C63A2B;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.ac-milan{
    .main{background-color: #A93633;background-image: url(shadow_light.png), url(patterns/pixels.png);}
    footer{background-color: #A93633;background-image: url(patterns/pixels.png);color:$gray-lighter;border-top:none;}
  }
  &.rocket{
    .main{background-image: url(shadow_light.png), url(patterns/lego.gif);}
    footer{background-image: url(patterns/lego.gif);color:$gray-lighter;border-top:none;}
  }
  &.spurs{
    .main{background-image: url(shadow_light.png), url(patterns/congruent_outline.png);}
    footer{background-image: url(patterns/congruent_outline.png);color:$gray-lighter;border-top:none;}
  }
  &.federer{
    .main{background-image: url(shadow_light.png), url(patterns/skulls.png);}
    footer{background-image: url(patterns/skulls.png);color:$gray-lighter;border-top:none;}
  }
}